.header {
    display: flex;
    width: 99vw;
    margin: 0.5vw;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vw;
    background-color: rgb(243, 166, 243);
    box-shadow: 0px 0px 5px 1px #b64fc8;
}

.nomeCard {
    display: flex;
    width: 60vw;
    height: 8vh;
    margin: 0.5vw;
    border-radius: 1vw;
    background-color: #df6cf3;
    border-color: #b64fc8;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 0px 5px 1px #b64fc8;
}

.nomeCard:hover {
    background-color: #df6cf3;
    text-shadow: 2px 2px 2px #b64fc8;
}

.nomeLinkedin {
    display: flex;
    width: 5vw;
    height: 8vh;
    margin: 1vw;
    border-radius: 1vw;
    background-color: #cf32eb;
    border-color: #b64fc8;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 0px 10px 1px #b64fc8;
}

.nomeLinkedin:hover {
    background-color: #df6cf3;
    text-shadow: 2px 2px 2px #b64fc8;
}

.nomeZap {
    display: flex;
    width: 5vw;
    height: 8vh;
    margin: 1vw;
    border-radius: 1vw;
    background-color: #cf32eb;
    border-color: #b64fc8;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 0px 10px 1px #b64fc8;
}

.nomeZap:hover {
    background-color: #df6cf3;
    text-shadow: 2px 2px 2px #b64fc8;
}

.nomeGit {
    display: flex;
    width: 5vw;
    height: 8vh;
    margin: 1vw;
    border-radius: 1vw;
    background-color: #cf32eb;
    border-color: #b64fc8;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 0px 10px 1px #b64fc8;
}

.nomeGit:hover {
    background-color: #df6cf3;
    text-shadow: 2px 2px 2px #b64fc8;
}

.body {
    width: 98vw;
    height: 70vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 1vw;
    background-color: #ea80fc;
    box-shadow: 0vw 0.1vw 0vw #b64fc8;
}

.footer {
    width: 98vw;
    height: 10vh;
    margin: 1vw;
    border-radius: 1vw;
    background-color: #ea80fc;
    box-shadow: 0vw 0.1vw 0vw #b64fc8;
}