.card-head {
    width: 15vw;
    height: 25vh;
    margin: 2vw;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-head img {
    grid-column: 1;
    grid-row: 1;
    justify-items: center;
    width: 10vw;
    height: 20vh;
}

.card-link {
    background-color: yellow;
    width: 5vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link {
    width: 3vw;
    height: 5vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-body {
    width: 70vw;
    height: 70vh;
    background-color: aqua;
    margin: 2vw;
}

.card-aleatorio {
    width: 23vw;
    height: 36.5vh;
    background-color: pink;
    margin: 2vw;
}

.card-footer {
    width: 98vw;
    height: 15vh;
    background-color: greenyellow;
    margin: 2vw;
}