.textHeader {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.textHeader ul {
    display: flex;
    gap: 10vw;
}

.textHeader li {
    margin-right: 1vw;
}

.textHeader h1 {
    margin-left: 1vw;
    font-family: 'Fascinate', cursive;
    color: #450750;
    text-shadow: 2px 2px 2px #b64fc8;
    font-weight: 700;
    font-size: 1.5vw;
}