.textHeader {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.textHeader ul {
    display: flex;
    gap: 10vw;
}

.textHeader li {
    margin-right: 1vw;
}

.textHeader h1 {
    margin-left: 1vw;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Patrick Hand', cursive;
    color: black;
    font-size: 1.5vw
}