.App {
    overflow: hidden;
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    padding: 1vw;
    background: linear-gradient( to bottom right, var(--color-background2), var(--color-background3), var(--color-background4));
}